* {
	font-family: 'Roboto Slab', serif;

	margin: 0;
	padding: 0;

	user-select: none;
}

body {
	background-color: #F7F7F7;
}

canvas {
	display: block;
}

#splash > * {
	display: block;

	margin: auto;
	text-align: center;
}

#splash > h1 {
	color: #ECF0F1;

	font-size: 4em;
}

#splash > img {
	width: 100vw;
}

#deathDisplay {
	display: none;

	text-align: center;
}

#deathDisplay > h2 {
	font-size: 3em;
}

#deathDisplay > button {
	width: 300px;
	height: 100px;
	
	font-size: 1.4em;
	
	background-color: #FFFFFF;
	border: none;
}